# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore


# track these files, if they exist
!.gitignore
!.editorconfig
!.phpcs.xml.dist

.vscode/
